#top-discard {
    margin: 15px 0px;
}

.my-card {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #666;
    font-size: 14px;
    text-align: center;
    width: 35px;
    height: 50px;
    border-radius: 5px;
    vertical-align: top;
}

.last-card {
    outline: 2px solid #666;
}

.diamonds {
    color: red;
}
.diamonds span:after {
    display: inline;
    content: "\2666";
}

.clubs {
    color: black;
}
.clubs span:after {
    display: inline;
    content: "\2663";
}

.hearts {
    color: red;
}
.hearts span:after {
    display: inline;
    content: "\2665";
}

.spades {
    color: black;
}
.spades span:after {
    display: inline;
    content: "\2660";
}

#opponents-hand-cards .my-card, #deck {
    background: repeating-linear-gradient(
        -45deg,
        #666,
        #666 5px,
        #ccc 5px,
        #ccc 10px
    );
}